[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pyinstaller = "*"
scipy = "*"
matplotlib = "*"
sounddevice = "*"
auto-py-to-exe = "*"
pandastable = "*"

[dev-packages]

[requires]
python_version = "3.10"
